<div class="container mt-4">

    <div class="text-center">
        <h1>Equipo de desarrollo</h1>
    </div>

    <div class="row mt-5">

        <!-- Datos de Luis Gustavo -->
        <div class="dev col-lg-3 col-md-6 col-12">

            <div class="text-center">
                <img class="img-fluid" src="assets/desarrolladores/TavoA.png" alt="Luis Gustavo Alvarado Orozco">
            </div>

            <p class="nombre">Luis Gustavo Alvarado Orozco</p>
            
            <div class="phone">
                <i class="fa-solid fa-phone mx-2"></i>
                <a href="tel:7013-0485">7013-0485</a>
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope mx-2"></i>
                <a href="mailto:gustavh331@gmail.com">gustavh331@gmail.com</a>
            </div>
            <div class="linkedIn">
                <i class="fa-brands fa-linkedin mx-2"></i>
                <a href="https://www.linkedin.com/in/gustavh-alvarado/">gustavh-alvarado</a>
            </div>
        </div>

        <!-- Datos de Agustín -->
        <div class="dev col-lg-3 col-md-6 col-12">

            <div class="text-center">
                <img class="img-fluid" src="assets/desarrolladores/Agustin.png" alt="Agustín Blanco Acuña">
            </div>

            <p class="nombre">Agustín Blanco Acuña</p>
            
            <div class="phone">
                <i class="fa-solid fa-phone mx-2"></i>
                <a href="tel:8358-7807">8358-7807</a>
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope mx-2"></i>
                <a href="mailto:agustinblanco01@gmail.com">agustinblanco01@gmail.com</a>
            </div>
            <div class="linkedIn">
                <i class="fa-brands fa-linkedin mx-2"></i>
                <a href="https://www.linkedin.com/in/agustín-blanco-acuña-76b713200/">agustín-blanco-acuña-76b713200</a>
            </div>
        </div>

        <!-- Datos de Gustavo -->
        <div class="dev col-lg-3 col-md-6 col-12">

            <div class="text-center">
                <img class="img-fluid" src="assets/desarrolladores/TavoB.png" alt="Gustavo Blanco Alfaro">
            </div>

            <p class="nombre">Gustavo Blanco Alfaro</p>
            
            <div class="phone">
                <i class="fa-solid fa-phone mx-2"></i>
                <a href="tel:8554-8525">8554-8525</a>
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope mx-2"></i>
                <a href="mailto:tavoba2015@gmail.com">tavoba2015@gmail.com</a>
            </div>
            <div class="linkedIn">
                <i class="fa-brands fa-linkedin mx-2"></i>
                <a href="https://www.linkedin.com/in/gustavo-blanco-alfaro-28a67a171/">gustavo-blanco-alfaro-28a67a171</a>
            </div>
        </div>

        <!-- Datos de Estiven -->
        <div class="dev col-lg-3 col-md-6 col-12">

            <div class="text-center">
                <img class="img-fluid" src="assets/desarrolladores/Estiven.png" alt="Estiven Fernández Berrocal">
            </div>

            <p class="nombre">Estiven Fernández Berrocal</p>
            
            <div class="phone">
                <i class="fa-solid fa-phone mx-2"></i>
                <a href="tel:8789-2924">8789-2924</a>
            </div>
            <div class="email">
                <i class="fa-solid fa-envelope mx-2"></i>
                <a href="mailto:stevefdz14@gmail.com">stevefdz14@gmail.com</a>
            </div>
            <div class="linkedIn">
                <i class="fa-brands fa-linkedin mx-2"></i>
                <a href="https://www.linkedin.com/in/estiven-fernandez-063319239/">estiven-fernandez-063319239</a>
            </div>
        </div>

    </div>

</div>
