<nav *ngIf="showNav" class="navbar sticky-top navbar-expand-lg navbar-girs noselect">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">GIRS</a>

        <!-- Botón de burger en dispositivos móviles -->
        <button class="navbar-toggler" type="button" (click)="toggler.toggle()" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars" style="color: white;"></i>
        </button>

        <!-- Contenido del navbar -->
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02" mdbCollapse #toggler="mdbCollapse">
            <ul class="navbar-nav mb-2 mb-lg-0 align-items-end">
                <li class="nav-item px-1" [routerLinkActive]="['active']">
                    <a class="nav-link" aria-current="page" [routerLink]="['home']">Inicio</a>
                </li>
                <li class="nav-item px-1" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['reportes']">Reportes</a>
                </li>
                <li class="nav-item px-1" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['comparativas']">Comparativas</a>
                </li>
                <!-- Calculadora que se canceló del momento, pero queda el tab para cuando se agregue -->
                <!-- <li class="nav-item px-1" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['calculadora']">Calculadora</a>
                </li> -->
                <li class="nav-item px-1" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['contactos']">Contactos</a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item px-1" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['municipalidades']"><span>Municipalidades</span></a>
                </li>
                <li *ngIf="isLoggedIn" class="nav-item px-1" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['usuarios']">
                        <i *ngIf="haySolicitudes" class="bell fa-solid fa-bell"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li *ngIf="!isLoggedIn" class="nav-item px-1" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['login']">Iniciar sesión</a>
                </li>

                <!-- Dropdown menu -->
                <li *ngIf="isLoggedIn" class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
                    <a class="nav-link dropdown-button" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
                        <i class="icon fa-solid fa-circle-user"></i>
                    </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                        <a ngbDropdownItem href="/perfil">Mi perfil</a>
                        <a ngbDropdownItem href="/misReportes">Mis reportes</a>
                        <a ngbDropdownItem href="/formulario/new">Generar informe</a>
                        <div class="dropdown-divider"></div>
                        <a ngbDropdownItem href="#" class="hover-danger" (click)="logOut()">Cerrar sesión</a>
                    </div>
                </li>

            </ul>

        </div>
    </div>
</nav>