<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<body>
    <div class="container-fluid" style="margin-top: 2%;">
        <div class="text-center">
            <h1 id="main_title">Editor de municipalidades</h1>
        </div>

        <!-- Este es el div de los títulos -->
        <div class="shadow rounded p-3 mb-5">
            <div class="row" style="width: 100%;">
                <div class="col text-center">
                    <h4>Municipalidad</h4>
                </div>
                <div class="col text-center">
                    <h4>Cargar</h4>
                </div>

            </div>
            <div class="row">
                <select class="form-select col" name="Select Municipalidad" #select_municipalidad>
                    <option value="Ninguno">Ninguno</option>
                    <option *ngFor="let municipalidad of municipalidades" value="{{municipalidad.canton}}">{{municipalidad.canton}}</option>
                </select>
                <div class="col text-center">
                    <button class="btn btn-success" style="width: 50%; font-weight: 600; font-size: 20px" (click)="getColumnas(select_municipalidad.value)">Agregar <i class="fa-regular fa-square-check"></i></button>
                </div>
            </div>
        </div>
        <div class="shadow rounded p-3">
            <div class="row">
                <span class="col-3" >Año</span>
                <input type="number" class="col">
            </div>
            <div class="row">
                <span class="col-3">Cantón</span>
            </div>
            <div class="row">
                <span class="col-3">Forma Disposición</span>
            </div>
            <div class="row">
                <span class="col-3">Gastos en servicio de recoleción</span>
            </div>
            <div class="row">
                <span class="col-3"> en aseo de vías públicas</span>
            </div>
            <div class="row">
                <span class="col-3">Ingreso de servicio de recoleción RSM</span>
            </div>
            <div class="row">
                <span class="col-3">Lugar de disposicion</span>
            </div>
            <div class="row">
                <span class="col-3">Habitantes</span>
            </div>
            <div class="row">
                <span class="col-3">P.P.C</span>
            </div>
            <div class="row">
                <span class="col-3">Programa de reciclaje</span>
            </div>
            <div class="row">
                <span class="col-3">Provincia</span>
            </div>
            <div class="row">
                <span class="col-3">Recoleción de residuos sólidos valorizables</span>
            </div>
            <div class="row">
                <span class="col-3">Ingreso total de servicio de aseo de vias</span>
            </div>
            <div class="row">
                <span class="col-3">Unidades habitacionales atendidas</span>
            </div>
            <div class="row">
                <span class="col-3">Unidades habitacionales en el canton</span>
            </div>
        </div>


    </div>

</body>


</html>