.muni_property_name {
    border-radius: 10px;
    background: #AAAAAA;
    font-weight: bold;
    font-size: large;
    font-size-adjust: inherit;
    height: 20%;
}

.muni_property_value {
    background: #FFFFFF;
    margin-left: 10%;
    font-size: large;
    font-weight: 500;
    font-size-adjust: inherit;
    height: 20%;
    border-color: #AAAAAA;
    color: #000000;
}