.titleContainer{

    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    margin: 10px;
}

.titleContainer div i{

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 36px;

}

.profileContainer{

    background-color: #F1F1F1;
    mix-blend-mode: darken;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 10px;
}

td i{
    padding: 25px;
}




table{
    width: 100%;
}

td{
    border: none;
    text-align: center;
}
