<div class="container mt-5">

    <div class="titleContainer row">
        <div class="col">
            <h1 class="titulo-1">Mi perfil</h1>
        </div>

        <div class="text-end col">
            <i class="fa-solid fa-pen-to-square fa-3x"></i>
            <i class="fa-solid fa-trash-can fa-3x" style="color: red" ></i>
        </div>
    </div>

    <div class="profileContainer">
        <table>
            <tbody>
                <tr>
                    <td>
                        <i class="fa-solid fa-id-card fa-4x"></i>
                    </td>
                    <td>
                        <h2 class="content-text">
                            {{userData.nombre}}
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa-solid fa-landmark fa-4x"></i>
                    </td>
                    <td>
                        <h2 class="content-text">
                            {{userData.municipalidad}}
                        </h2>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa-solid fa-mobile-screen fa-4x"></i>
                    </td>
                    <td>
                        <h2 class="content-text">
                            {{userData.telefono}}
                        </h2>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
