.button-usuario{
    background-color: #3D556A;
    color: white;
    width: 50%;
    font-style: Roboto;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    margin: 5px;
}

.table-margin{
    margin-top: 20px;
}

th{
    text-align: center;
}