<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<body>
    <div class="container-fluid" style="margin-top: 2%;">
        <div class="text-center">
            <h1 id="main_title">Comparativa de reportes</h1>
        </div>

        <!-- Este es el div de los títulos -->
        <div class="shadow rounded p-3 mb-5">
            <div class="row" style="width: 100%;">
                <div class="col">
                    <h4>Municipalidades</h4>
                </div>
                <div class="col text-center">
                    <h4>Año</h4>
                </div>
                <div class="col text-end">
                    <h4>Agregar</h4>
                </div>

            </div>
            <div class="row">
                <select class="form-select col" name="Select Municipalidad" #select_reporte_municipalidad
                    (change)="filtrarAnnos(select_reporte_municipalidad.value)">
                    <option value="Ninguno">Ninguno</option>
                    <option *ngFor="let reporte of municipalidades" value="{{reporte}}">{{reporte}}</option>
                </select>
                <select class="form-select col"  name="Select Anno" #select_reporte_annos>
                    <option value="Ninguno">Ninguno</option>
                    <option *ngFor="let anno of annos" value="{{anno}}">{{anno}}</option>
                </select>
                <div class="col text-end">
                    <button class="btn btn-success" style="width: 50%;" (click)="AgregarReporteATabla(select_reporte_municipalidad.value, select_reporte_annos.value)">Agregar</button>
                </div>
            </div>
            <div class="row p-3 mb-5">
                <table class="Table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Municipalidad</th>
                            <th scope="col">Año</th>
                            <th scope="col" style="width: 20%;">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reporte of selectedReports; let i = index" scope="row">
                            <td>{{reporte.canton}}</td>
                            <td>{{reporte.anno}}</td>
                            <td>
                                <button class="btn btn-danger" (click)="DeleteMe(i)"><span class="fas fa-trash-o"></span> Eliminar</button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            
                <div class="row" *ngIf="selectedReports.length > 0">
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Poblacion atendida</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'datosGenerales'" [segment]="'poblacionAtendida'" [titulo]="'Población Atendida'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Cantidad viviendas</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'datosGenerales'" [segment]="'cantidadViviendas'" [titulo]="'Cantidad de viviendas'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Porcentaje de recoleccion</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'line'" [column]="'caracteristicasServicio'" [segment]="'porcentajeRecoleccion'" [titulo]="'Porcentaje de Recoleccion'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Cantidad mensual recolectada y enviada a disposicion</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'caracteristicasServicio'" [segment]="'cantidadMensualDisposicion'" [titulo]="'Cantidad mensual a recolatada en toneladas'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Cantidad de cambiones</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'caracteristicasServicio'" [segment]="'cantidadCamiones'" [titulo]="'Cantidad de caminoes'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Cantidad de viajes por camion</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'disposicion'" [segment]="'cantidadViajesMes'" [titulo]="'Cantidad viajes al mes'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Distancia promedio recorrida por camión</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'disposicion'" [segment]="'distanciaPromedioSitio'" [titulo]="'Distancia KM promedio por camión'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Carga útil por camión</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'disposicion'" [segment]="'cargoUtilCamionViaje'" [titulo]="'Carga útil por camión en KG'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Consumo de combustible por cambión</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'disposicion'" [segment]="'consumoCombustibleCamion'" [titulo]="'Consumo de combustible por camión'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Presupuesto invertido en gesitón integral de residuos solidos</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'aspectosFinancieros'" [segment]="'presupuestoInvertidoGirs'" [titulo]="'Presupuesto invertido en GIRS'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Presupuesto invertido en areas comunes</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'aspectosFinancieros'" [segment]="'presupuestoInvertidoLimpieza'" [titulo]="'Presupuesto para limpieza de calles, parques...'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Porcentaje de morosidad</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'aspectosFinancieros'" [segment]="'porcentajeMorosidad'" [titulo]="'Porcentaje de morosidad en municipalidades'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Inversión en campañas de educación ambiental</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'aspectosFinancieros'" [segment]="'inversionCampanasEducacion'" [titulo]="'Inversión en campañas ambientales'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Indice de generación por habitante</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'informacionCalculada'" [segment]="'indiceGeneracion'" [titulo]="'Indice de generación por habitante'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Gastos por aseo</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'informacionCalculada'" [segment]="'gastoPorAseo'" [titulo]="'Gastos por aseo'"></app-grafico-plot>
                    </div>
                    <div class="col-md-6 col-12 mb-4 text-center">
                        <span  class="texto">Gastos por vivienda</span>
                        <app-grafico-plot [data]="selectedReports" [plotType]="'bar'" [column]="'informacionCalculada'" [segment]="'gastoPorVivienda'" [titulo]="'Gastos por vivienda'"></app-grafico-plot>
                    </div>
                </div>

        </div>

    </div>

</body>


</html>