<div id="container"  class="container mt-5">
    
    <!-- Overlay -->
    <div class="overlay-container">
        <div class="overlay">
            <h1>Bienvenido a tu inscripción en GIRS</h1>
            <p>¿Ya tienes una cuenta?</p>
            <button class="common-bttn" >Iniciar sesión</button>
        </div>
    </div>
    
    <!-- Register -->
    <div class="form-container">
        <form>
            <h1> Inscribirse </h1>
            <input class="input" type="text" placeholder="Nombre">
            <input class="input" type="text" placeholder="Apellido">
            <input class="input" type="text" placeholder="Municipalidad">
            <input class="input" type="email" placeholder="E-mail">
            <input class="input" type="text" placeholder="Teléfono">

            <button class="common-bttn" >Inscribirse</button>
        </form>
    </div>

    
</div>
