<div *ngIf="datos">
    <table class="table girs-table">
        <thead>
            <tr>
                <th class="text-center" *ngFor="let columna of columnas" scope="col">{{columna.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-elem" *ngFor="let dato of datos">
                <td *ngFor="let item of dato | keyvalue">
                    <div class="text-center" [innerHTML]="item.value"></div> <!-- Se hace de esta forma para que se agreguen correctamente los componentes HTML -->
                </td>
            </tr>
        </tbody>
    </table>
</div>