<div class="container mt-5">




    <!-- Mapa de municipalidades -->
    <h1 class="titulo-1 mb-3">Mapa de las municipalidades</h1>

    <app-map *ngIf="municipalidadesMapa" [datos]="municipalidadesMapa"></app-map>


    <!-- Tabla de las municipalidades -->

    <h1 class="titulo-1 mt-5 mb-3">Municipalidades</h1>
    
    <p>En esta sección se pueden visualizar todas las municipalidades y ordenarlas según su <b>nombre</b>, <b>PPC</b>, si posee <b>programa de reciclaje</b> y si posee <b>recolección de residuos sólidos valorizables</b>.</p>
    <b class="nota">*PPC = Producción Per Cápita</b>
    <b class="nota small-screen">*RSV = Recolección de residuos sólidos valorizables</b>

    <table class="table girs-table">
        <thead>
            <tr>
                <!-- Los atributos selected, data-order, data-name y data-type son para el ordenamiento de las tablas, dado por la directiva appSort -->
                <!-- Se debe poder el ID (#colN) para poder ser identificados en las funciones isSelected e isDesc -->
                <!-- Estas funciones son para saber qué icono colocar para identificar el ordenamiento -->
                <th #col1 class="text-center noselect clickeable" [appSort]="municipalidadesTabla" selected="false" data-order="asc" data-name="canton" scope="col">
                    <span>Nombre</span>
                    <i class="fa-solid sorting-icon {{getSortIcon(col1)}}"></i>
                </th>
                <th #col2 class="text-center noselect clickeable" [appSort]="municipalidadesTabla" selected="false" data-order="asc" data-name="ppc" scope="col">
                    <span>PPC</span>
                    <i class="fa-solid sorting-icon {{getSortIcon(col2)}}"></i>
                </th>
                <th #col3 class="text-center noselect clickeable" [appSort]="municipalidadesTabla" selected="false" data-order="asc" data-name="programaDeReciclaje" scope="col">
                    <span class="large-medium-screen">Programa de reciclaje</span>  <!--Para que se vea bien en pantallas pequeñas hay dos versiones de la columna-->
                    <span class="small-screen">Reciclaje</span>
                    <i class="fa-solid sorting-icon {{getSortIcon(col3)}}"></i>
                </th>
                <th #col4 class="text-center noselect clickeable" [appSort]="municipalidadesTabla" selected="false" data-order="asc" data-name="recoleccionDeResiduosSolidosValorizables" scope="col">
                    <span class="large-medium-screen">Recolección de residuos sólidos valorizables</span>  <!--Para que se vea bien en pantallas pequeñas hay dos versiones de la columna-->
                    <span class="small-screen">RSV</span>
                    <i class="fa-solid sorting-icon {{getSortIcon(col4)}}"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-elem" *ngFor="let dato of municipalidadesTabla">
                <td class="text-center">Municipalidad de {{dato.canton}}</td>
                <td class="text-center">{{dato.ppc}}</td>
                <td class="text-center">
                    <!-- Manejo de iconos en lugar de True o False -->
                    <i class="fa-solid {{getStateIcon(dato.programaDeReciclaje)}}"></i>
                </td>
                <td class="text-center">
                    <!-- Manejo de iconos en lugar de True o False -->
                    <i class="fa-solid {{getStateIcon(dato.recoleccionDeResiduosSolidosValorizables)}}" ></i>
                </td>
            </tr>
        </tbody>
    </table>


</div>
