.titleContainer{

    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
}

h1{
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 42px;
}

.titleContainer div i{

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 1px;
    margin-top: 1px;
}

.formContent{
    color: #000000;
    background: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 36px;
    padding: 2em;
  }

.indicatorContent{
    margin: 20px;
}

.indicators{
    text-align: center;
    margin-top: 20px;
  
    span{
      --width: 12px;
      width: var(--width);
      height: var(--width);
      display: inline-block;
      border-radius: 50%;
      background-color: #b6b6b6;
      margin: 0 5px;
    }
    .active{
      background-color: #002855;
    }
}

.stepButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.btnBack{
    background-color: #515355;
}

.hide{
    opacity: 0;
    pointer-events: none;
  }

.inputContainer {
    position: relative;
}

form input {
    background-color: #F8F8F8;
    border: 2px solid #e3e3e3;
    width: 100%;
    margin: 10px;
    padding: 8px;
}

form label {
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.inputContainerInline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0, 0.15);
    padding: 0;
    transition: height 200ms ease-in-out;
    overflow: hidden;
    input, select{
      max-width: 210px;
    }
}

.prefixInputContainer{
    position: relative;
    span{
      position: absolute;
      display: inline-block;
      right: 0;
      top: 10px;
      line-height: 43.38px;
      padding:0 13px;
      background-color: #a6a6a6;
      color: #404040;
      text-align: center;
      border-radius: 0 8px 8px 0;
      height: 43.38px;
  
    }
}

.sufixInputContainer{
    position: relative;
    input{
      padding-left: 45px;
    }
    span{
      position: absolute;
      display: inline-block;
      left: 0;
      top: 10px;
      line-height: 43.38px;
      padding:0 13px;
      background-color: #a6a6a6;
      color: #404040;
      text-align: center;
      border-radius: 8px 0px 0px 8px;
      height: 43.38px;
  
    }
  }

form select {
    width: 100%;
    border: 2px solid #e3e3e3;
    width: 100%;
    margin: 10px;
    padding: 8px;
    font-size: 14px;
    background-color: #F8F8F8;
    &:focus {
        outline-color: var(--blue);
        outline: none;
        box-shadow: 0 0 5px 1px var(--blue-boxshadox);
    }
}

.background{
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;

  &__triangle{
    width: 0;
    height: 0;
    border-bottom: 400px solid #002855;
    border-right: 1200px solid transparent;
    position: absolute;
    transform: translate(0%, 100%);
  }
}