<form [formGroup]="form">

  <div class="modal-body px-5">
    <div class="text-center mb-5">
      <h2>{{titulo}}</h2>
    </div>

    <!-- Nombre -->
    <div class="form-group row">
      <label for="nombre" class="col-sm-5 col-form-label required">Nombre</label>
      <div class="col-sm-7">
        <input 
          type="text" 
          id="nombre" 
          class="form-control" 
          formControlName="nombre" 
          aria-label="Nombre"
          [class.is-invalid]="nombreInvalido">
          <small *ngIf="nombreInvalido" class="text-danger">
            El nombre no puede ser vacío
          </small>
      </div>
    </div>

    <!-- Primer apellido -->
    <div class="form-group row">
      <label for="apellido_1" class="col-sm-5 col-form-label required">Primer apellido</label>
      <div class="col-sm-7">
        <input 
          type="text" 
          id="apellido_1" 
          class="form-control" 
          formControlName="apellido_1" 
          aria-label="Apellido 1"
          [class.is-invalid]="apellido_1Invalido">
          <small *ngIf="apellido_1Invalido" class="text-danger">
            Debe tener al menos el primer apellido
          </small>
      </div>
    </div>

    <!-- Segundo apellido -->
    <div class="form-group row">
      <label for="apellido_2" class="col-sm-5 col-form-label">Segundo apellido</label>
      <div class="col-sm-7">
        <input 
          type="text" 
          id="apellido_2" 
          class="form-control" 
          formControlName="apellido_2" 
          aria-label="Apellido 2">
      </div>
    </div>

    <!-- Teléfono -->
    <div class="form-group row">
      <label for="telefono" class="col-sm-5 col-form-label required">Teléfono</label>
      <div class="col-sm-7">
        <input 
          type="text" 
          id="telefono" 
          class="form-control" 
          formControlName="telefono" 
          aria-label="Telefono" 
          placeholder="########"
          [class.is-invalid]="telefonoInvalido">
          <small *ngIf="telefonoInvalido" class="text-danger">
            Teléfono inválido
          </small>
      </div>
    </div>

    <!-- email -->
    <div class="form-group row">
      <label for="email" class="col-sm-5 col-form-label required">Email</label>
      <div class="col-sm-7">
        <input 
          type="email" 
          id="email" 
          class="form-control" 
          formControlName="correo" 
          aria-label="email"
          [class.is-invalid]="correoInvalido">
          <small *ngIf="correoInvalido" class="text-danger">
            Correo inválido
          </small>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger"
      (click)="activeModal.close({status: 'closed', res: {}})">Cerrar</button>
    <button type="button" class="btn btn-outline-success" (click)="guardar()">{{accion}}</button>
  </div>
</form>