<!DOCTYPE html>
<html>

<body>

    <div class="container-fluid" style="margin-top: 2%;">

        <div class="row">
            <div class="col-md-4 col-sm-0"></div>
            <div class="col-md-8  col-sm-12">
                <h1 id="main_title">Registro de residuos sólidos</h1>
            </div>
        </div>
        <div class="row" style="margin-top: 25px;">
            <div class="col-md-3 col-sm-12" style="margin-left: 2%;">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1 id="filter_title">Filtros</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="margin-top: 20px;">
                            <div class="shadow-lg p-3 mb-5 bg-white rounded">

                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="default_margin">Municipalidades</h4>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <select class="form-select default_margin" aria-label="Default select example"
                                            id="filter_municipality" style="background-color: #F8F8F8;"
                                            (change)="filter()">
                                            <option>Ninguno</option>
                                        </select>

                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="default_margin">Años</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <select class="form-select default_margin" aria-label="Default select example"
                                            id="filter_year" style="background-color: #F8F8F8;" (change)="filter()">
                                            <option>Ninguno</option>
                                        </select>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-1 col-sm-0"></div>
            <div class="col-sm-12 col-md-7 ">
                <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="container" style="height: 77vh; overflow-y: scroll;" id="workflow_forms">
                        <div class="row" style="text-align: center;">
                            <div class="col-4">
                                <h4 style="margin-top: 35px;">Año</h4>
                            </div>
                            <div class="col-4">
                                <h4 style="margin-top: 35px;">Municipalidad</h4>
                            </div>
                            <div class="col-4 ">
                                <h4 style="margin-top: 35px;">Descargar</h4>
                            </div>
                        </div>
                        <div id="groupRows">
                            <div *ngFor="let reporte of reportes" class="row" style="background: '#F8F8F8'; margin: '10px'; min-height: '60px'; height: 'auto';">
                                <div class="col-4 content-text column">
                                    <h5 class="content-text">{{reporte.anno}}</h5>
                                </div>
                                <div class="col-4 content-text column">
                                    <h5 class="content-text">{{reporte.datosGenerales.municipalidad}}</h5>
                                </div>
                                <div class="col-4 content-text column">
                                    <i class="fas fa-arrow-alt-circle-down fa-lg" style="color: #4A4A4A;"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>

</body>

</html>